html{
    font-family: 'Crimson Text', serif;
}

body{
    background-color: rgba(142, 158, 167, 0.438);
}

.container-fluid{
    padding: 0;
}

.navbar{
    background-color: #2e353fd8;
}

.nav-link{
    text-align: right;
    padding-right: 5px;
}

#home.container-fluid{
    height: 100vh;
    /* position: relative; */
}

#homeBrand{
    height: 100vh;
}

#home #imageBackground{
    background-image: url("assets/imgs/homeBrandBlue.jpg");
    background-size: cover;
    width: 85%;
    height: 85%;
}

.nameText{
    /* font-family: 'Zhi Mang Xing', cursive; */
    font-family: 'Ma Shan Zheng', cursive;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#